body {
  margin: 0;
  font-family: "YS Text", sans-serif;
  font-weight: normal;
  font-size: 13px;
  background-color: #ffffff;
  color: $color-main;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
