body {
  margin: 0;
  font-family: "tfutura", sans-serif;
  font-weight: normal;
  background-color: #f6f6f6;
  color: $main-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
