@import "./variables.scss";
@import "./mixins.scss";

.form__header {
  margin-bottom: 6px;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06px;
  color: $color-main;
}

.form__intro {
  color: $color-title;
}

.form__group {
  margin-bottom: 18px;
}

.form__buttons {
  display: flex;
}

.form__button {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.form__link {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

// Input
.form__input-wrapper {
  position: relative;
}

.form__input {
  &:hover + .form__input-clear,
  &:focus + .form__input-clear {
    display: flex;
  }
}

.input {
  margin: 0;
  padding: 10px 13px;
  width: 100%;
  height: 38px;
  font-size: 13px;
  font-weight: 300;
  color: #000000;
  background: #ffffff;
  border-radius: 4px;
  border: 2px solid #d9d9d9;
  outline: none;

  &_number {
    margin: 0 8px;
    width: 52px;
    text-align: right;
  }

  &::placeholder {
    color: $color-placeholder;
  }

  &:focus {
    border: 2px solid #b3b3b3;
  }
}

.form__input-clear {
  @include align-center();
  display: none;
  top: calc(50% - 10px);
  right: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.form__input-icon {
  flex-shrink: 0;
}

.form__sup {
  color: #e00000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
