$main-color: #333333;
$secondary-color: #777777;
$accent-color: #fa876b;
$error-color: #fa285c;
$border-color: rgba(0, 0, 0, 0.1);
$light-color: rgba(0, 0, 0, 0.05);
$mobile-width: 640px;
$tablet-width: 960px;
$desktop-width: 1200px;
$max-width: 1200px;
