@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.ci-server .header__title {
  margin: 0;
  margin-right: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: $color-title;

  &_history {
    color: black;
  }
}

.header__container {
  display: flex;
  align-items: baseline;
}

.header__buttons {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;

  & .button:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .ci-server .header__title {
    font-size: 20px;
  }
}

@media screen and (max-width: $mobile-width) {
  .ci-server .header__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
  }
}
