@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ci-server .header__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: $color-title;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__buttons {
  margin-left: auto;
}

@media screen and (max-width: $mobile-width) {
  .ci-server .header__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
  }
}
