@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";

.content__settings {
  margin-top: 10px;
}

.settings__heading {
  margin-bottom: 8px;
}

.settings__description {
  margin-bottom: 22px;
}
